---
layout: page
title: "thoughts"
category: blog
feature-img: "img/vigolana_bw.png"
---
{% for post in site.posts %}
{% if post.categories contains 'blog' %}
  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
    
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        
        <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
      </header>

      <div class="excerpt">
        {{ post.excerpt }}

        <a class="button" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a>
      </div>
      
    </div>
    {% endfor %}
  </div>

{% endif %}
{% endfor %}