---
layout: page
title: "research"
category: science
feature-img: "img/vigolana_bw_inv.png"
---
{% for post in site.posts  %}
{% if post.categories contains 'science' %}

  <div class="posts">

    <div class="post-teaser">

      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>

        <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
      </header>

      <div class="excerpt">
        {{ post.excerpt }}

        <a class="button" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a>
      </div>

    </div>

  </div>


{% endif %}
{% endfor %}
